
<div class="col-md-6">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h5>Heroes</h5>
        </a>
        <a href="#/hero/{{hero.name}}" class="list-group-item" ng-repeat="hero in HL.heroesList">{{hero.name}}</a>
    </div>
</div>
